# fly.toml app configuration file generated for gohtmlx on 2023-09-01T00:57:55Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "gohtmlx"
primary_region = "yyz"

[build]
  dockerfile = "Dockerfile"


[mounts]
source = "data1"
destination = "/data/litefs"

[env]
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]


[services.concurrency]
    type = "requests"
    hard_limit = 100000
    soft_limit = 10000