package views

templ Login() {
	<div class="m-2">
		<div class="h-screen flex items-center justify-center p-5">
			<label for="email">Email</label>
			<input type="email" name="email"/>
			<label for="password">Password</label>
			<input type="password" name="password"/>
			<button type="submit">Login</button>
		</div>
	</div>
}

