package components

templ FlashMessage() {
	<div id="flashmessage" class="toast toast-end" hx-swap-oob="true">
		<div class="alert alert-info">
			<span>New mail arrived.</span>
		</div>
	</div>
}

templ FlashWrapper(other  templ.Component) {
	@FlashMessage()
	{! other }
}
