package components

templ FlashMessage(props FlashProps) {
	<div id="flashmessage" _="init wait 3s transition opacity to 0 over 1 seconds" class="toast toast-top toast-center" hx-swap-oob="true">
		<div class="alert alert-info">
			<span>{ props.Message }</span>
		</div>
	</div>
}

type FlashProps struct {
	Message   string
	FlashType string
}

templ FlashWrapper(other templ.Component, props FlashProps) {
	@FlashMessage(props)
	{! other }
}
