@use 'potato/code';

.potato {
    font-optical-sizing: auto;
    background: #000;

    .iamiinthis {
        color: red;
    }

    &:hover {
        font-weight: bold;
    }
}



.greay {
    background-color: antiquewhite;
}