package views

// page wrapper for the site
templ Base(body templ.Component) {
	<!DOCTYPE html>
	<html data-theme="corporate">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link href="/static/css/styles.css" rel="stylesheet"/>
			<script type="text/javascript" src="/static/js/htmx.min.js"></script>
		</head>
		<body>
			{! body }
		</body>
	</html>
}

