package views 

templ Dashboard() {
	
	<nav class="na">
		<a class="btn btn-ghost" href="/dashboard">Dashboard</a>
		<a class="btn btn-ghost" href="/dashboard/testing">Testing</a>
		<a class="btn btn-ghost" href="/logout">Logout</a>
	</nav>
	<div>I am poattoa</div>
}

